- name: install apache and php
  tags: apache,httpd,php
  package:
    name:
      - "{{ apache_package }}"
      - "{{ php_package }}"
    state: latest

- name: start httpd service
  tags: apache,httpd
  service:
    name: "{{ apache_service }}"
    state: started
    enabled: yes

- name: change e-mail for admin
  tags: centos,apache,httpd
  lineinfile:
    path: /etc/httpd/conf/httpd.conf
    regexp: "^ServerAdmin"
    line: ServerAdmin someone@somewhere.com
  when: ansible_distribution == "CentOS"
  notify: restart_httpd

- name: copy default web page
  tags: apache,apache2,httpd
  copy:
    src: /home/ansible/ansible/files/default_site.html
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: 0664
